{% extends 'base.html' %}

{% block content %}
<div class='mx-auto'>
    <h1 class='text-center'>Success</h1>
    <br/>
    <p class='text-center text-muted'>form sucessfully deleted</p>
    <p class='text-center text'><a class="text-center text"  href="{% url 'form' %}">create a new form</a></p>
    <p class='text-center text'><a class="text-center text"  href="{% url 'view_forms' %}">View all forms</a></p>
    <p class='text-center text'><a class="text-center text"  href="{% url 'survey' %}">Create new survey</a></p>
</div>
{% endblock %}