{% extends 'base.html' %}

{% load dict_key %}
{% block content %}
<h1>{{form.name}}</h1>
<br />
<p>{{form.description}}</p>
<p>response to form by {{response.assessment.evaluator_name}} who is a {{response.assessment.evaluator_relationship}}</p>
<form action="" method="post">
    {% for s in form.formsection_set.all %}
    <section class="form-group p-4 border mt-3">
        <h3 class="">{{s.name}}</h3>
        {% for q in s.inputfield_set.all %}
        <fieldset class="form-group mb-3">
            <p for="f_name" class="">{{q.label}}</p>
            <div class='form-check'>
                <label>{{ response.fields |dict_key:q.id}}<input type="radio" class="form-check-input " checked="checked" disabled name='{{q.id}}' value='{{response.fields |dict_key:q.id}}' /></label>
            </div> 
        </fieldset>
        <hr />
        {% endfor %}
    </section>
    {% endfor %}
</form>
<br />

{% endblock %}